In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

In [2]:
url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [3]:
data = requests.get(url)

In [4]:
data

In [43]:
soup = BeautifulSoup(data.text)

In [44]:
standings_table = soup.select('table.stats_table')[0]

In [46]:
def get_team_links(standings_table):
    teams_links = standings_table.find_all('td',{'class': 'left'})
    links = []
    for link in teams_links:
        try:
            squad_link = link.find('a').get('href').strip()
            if 'squads'in squad_link:
                # print(f'https://fbref.com{squad_link}')
                links.append(f'https://fbref.com{squad_link}')
        except Exception:
            continue
    return links

In [47]:
team_links = get_team_links(standings_table)
team_links

['https://fbref.com/en/squads/822bd0ba/Liverpool-Stats',
 'https://fbref.com/en/squads/18bb7c10/Arsenal-Stats',
 'https://fbref.com/en/squads/8602292d/Aston-Villa-Stats',
 'https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats',
 'https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats',
 'https://fbref.com/en/squads/19538871/Manchester-United-Stats',
 'https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats',
 'https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 'https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats',
 'https://fbref.com/en/squads/fd962109/Fulham-Stats',
 'https://fbref.com/en/squads/cd051869/Brentford-Stats',
 'https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats',
 'https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 'https://fbref.com/en/squads/4ba7cbea/Bournemouth-Stats',
 'https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats',
 'https://fbref.com/en/squads/e4a775cb/Nottingham-Forest-Stats',
 'https://fbref.com/en/squads/d3fd31cc/Everton-Stats',
 'https://fbref.com/en/squads/e297cd13/Luton-Town-Stats',
 'https://fbref.com/en/squads/943e8050/Burnley-Stats',
 'https://fbref.com/en/squads/1df6b87e/Sheffield-United-Stats']

In [48]:
len(team_links)

20

In [49]:
data = requests.get(team_links[0])
matches = pd.read_html(data.text, match='Scores & Fixtures ')[0]
matches.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,1.3,1.4,35.0,40096.0,Virgil van Dijk,4-3-3,Anthony Taylor,Match Report,NaN
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,3.0,1.3,64.0,53145.0,Virgil van Dijk,4-3-3,Thomas Bramall,Match Report,NaN
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,0.9,2.0,41.0,52214.0,Virgil van Dijk,4-3-3,John Brooks,Match Report,NaN
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,2.5,0.7,63.0,50109.0,Trent Alexander-Arnold,4-3-3,Simon Hooper,Match Report,NaN
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,2.5,0.6,65.0,31257.0,Andrew Robertson,4-3-3,Michael Oliver,Match Report,NaN

In [50]:
soup = BeautifulSoup(data.text)

In [51]:
def get_shooting_page(soup):
    links = soup.find_all('a')
    shooting_page = ''
    for l in links:
        try:
            if 'all_comps/shooting/' in l.get('href').strip():
                shooting_page = f"https://fbref.com{l.get('href').strip()}"
        except Exception:
            continue
    return shooting_page

In [52]:
shooting_page = get_shooting_page(soup)

In [53]:
data = requests.get(shooting_page)

In [54]:
data

In [55]:
shooting_table = pd.read_html(data.text, match="Shooting")[0]

In [56]:
shooting_table.columns = shooting_table.columns.droplevel()
shooting_table.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Match Report
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,17.8,0.0,0,0,1.3,1.3,0.10,-0.3,-0.3,Match Report
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,16.8,1.0,0,1,3.0,2.1,0.09,0.0,0.9,Match Report
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,17.2,1.0,0,0,0.9,0.9,0.10,1.1,1.1,Match Report
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,14.7,0.0,0,0,2.5,2.5,0.15,-0.5,-0.5,Match Report
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,15.8,0.0,0,0,2.5,2.5,0.16,-0.5,-0.5,Match Report

In [57]:
matches.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'xG', 'xGA', 'Poss', 'Attendance', 'Captain', 'Formation',
       'Referee', 'Match Report', 'Notes'],
      dtype='object')

In [58]:
shooting_table.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'Gls', 'Sh', 'SoT', 'SoT%', 'G/Sh', 'G/SoT', 'Dist', 'FK',
       'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG',
       'Match Report'],
      dtype='object')

In [59]:
team_data = matches.merge(shooting_table[["Date","Sh",'SoT','Dist','FK','PK','PKatt']], on='Date')

In [60]:
team_data.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Formation,Referee,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,4-3-3,Anthony Taylor,Match Report,NaN,13,1,17.8,0.0,0,0
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,4-3-3,Thomas Bramall,Match Report,NaN,25,9,16.8,1.0,0,1
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,4-3-3,John Brooks,Match Report,NaN,9,4,17.2,1.0,0,0
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,4-3-3,Simon Hooper,Match Report,NaN,17,4,14.7,0.0,0,0
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,4-3-3,Michael Oliver,Match Report,NaN,16,5,15.8,0.0,0,0

In [30]:
seasons = [2023, 2022, 2021]
all_matches = []

In [32]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

for season in seasons:
    data = requests.get(standings_url)
    
    if(str(data) != '<Response [200]>'):
        print("An error happend :)")
        print("Exiting")
        break
    
    print(f"scraping {season} season")
    print("=" * 50)
    soup = BeautifulSoup(data.text)
    standings_table = soup.select('table.stats_table')[0]

    team_urls = get_team_links(standings_table)
    
    previous_season = soup.select("a.prev")[0].get("href")
    standings_url = f"https://fbref.com{previous_season}"
    
    team_count = 1
    for team_url in team_urls:
        team_name = team_url.split("/")[-1].replace("-Stats", "").replace("-", " ")
        print(f"scraping {team_count}- {team_name} data")
        team_count += 1
        
        # matches
        data = requests.get(team_url)
        matches = pd.read_html(data.text, match="Scores & Fixtures")[0]
        soup = BeautifulSoup(data.text)
        shooting_page = get_shooting_page(soup)
        
        # shooting
        data = requests.get(shooting_page)
        shooting = pd.read_html(data.text, match="Shooting")[0]
        shooting.columns = shooting.columns.droplevel()
        try:
            team_data = matches.merge(shooting[["Date", "Sh", "SoT", "Dist", "FK", "PK", "PKatt"]], on="Date")
        except ValueError:
            continue
        
        team_data = team_data[team_data["Comp"] == "Premier League"]
        
        team_data["Season"] = season
        team_data["Team"] = team_name
        all_matches.append(team_data)
        time.sleep(3)

scraping 2023 season
==================================================
scraping 1- Liverpool data
scraping 2- Arsenal data
scraping 3- Aston Villa data
scraping 4- Manchester City data
scraping 5- Tottenham Hotspur data
scraping 6- Manchester United data
scraping 7- Newcastle United data
scraping 8- Brighton and Hove Albion data
scraping 9- West Ham United data
scraping 10- Fulham data
scraping 11- Brentford data
scraping 12- Chelsea data
scraping 13- Wolverhampton Wanderers data
scraping 14- Bournemouth data
scraping 15- Crystal Palace data
scraping 16- Nottingham Forest data
scraping 17- Everton data
scraping 18- Luton Town data
scraping 19- Burnley data
scraping 20- Sheffield United data
scraping 2022 season
==================================================
scraping 1- Manchester City data
scraping 2- Arsenal data
scraping 3- Manchester United data
scraping 4- Newcastle United data
scraping 5- Liverpool data
scraping 6- Brighton and Hove Albion data
scraping 7- Aston Villa data
scraping 8- Tottenham Hotspur data
scraping 9- Brentford data
scraping 10- Fulham data
scraping 11- Crystal Palace data
scraping 12- Chelsea data
scraping 13- Wolverhampton Wanderers data
scraping 14- West Ham United data
scraping 15- Bournemouth data
scraping 16- Nottingham Forest data
scraping 17- Everton data
scraping 18- Leicester City data
scraping 19- Leeds United data
scraping 20- Southampton data
scraping 2021 season
==================================================
scraping 1- Manchester City data
scraping 2- Liverpool data
scraping 3- Chelsea data
scraping 4- Tottenham Hotspur data
scraping 5- Arsenal data
scraping 6- Manchester United data
scraping 7- West Ham United data
scraping 8- Leicester City data
scraping 9- Brighton and Hove Albion data
scraping 10- Wolverhampton Wanderers data
scraping 11- Newcastle United data
scraping 12- Crystal Palace data
scraping 13- Brentford data
scraping 14- Aston Villa data
scraping 15- Southampton data
scraping 16- Everton data
scraping 17- Leeds United data
scraping 18- Burnley data
scraping 19- Watford data
scraping 20- Norwich City data

In [33]:
len(all_matches)

60

In [34]:
match_df = pd.concat(all_matches)
match_df.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt,Season,Team
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,Match Report,NaN,13.0,1.0,17.8,0.0,0,0,2023,Liverpool
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,Match Report,NaN,25.0,9.0,16.8,1.0,0,1,2023,Liverpool
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,9.0,4.0,17.2,1.0,0,0,2023,Liverpool
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,17.0,4.0,14.7,0.0,0,0,2023,Liverpool
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,Match Report,NaN,16.0,5.0,15.8,0.0,0,0,2023,Liverpool

In [35]:
match_df.columns = [c.lower() for c in match_df.columns]
match_df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,Match Report,NaN,13.0,1.0,17.8,0.0,0,0,2023,Liverpool
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,Match Report,NaN,25.0,9.0,16.8,1.0,0,1,2023,Liverpool
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,9.0,4.0,17.2,1.0,0,0,2023,Liverpool
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,17.0,4.0,14.7,0.0,0,0,2023,Liverpool
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,Match Report,NaN,16.0,5.0,15.8,0.0,0,0,2023,Liverpool

In [36]:
match_df.to_csv("matches.csv")

In [37]:
match_df

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,Match Report,NaN,13.0,1.0,17.8,0.0,0,0,2023,Liverpool
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,Match Report,NaN,25.0,9.0,16.8,1.0,0,1,2023,Liverpool
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,9.0,4.0,17.2,1.0,0,0,2023,Liverpool
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,17.0,4.0,14.7,0.0,0,0,2023,Liverpool
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,Match Report,NaN,16.0,5.0,15.8,0.0,0,0,2023,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Premier League,Matchweek 35,Sat,Away,L,0,2,Aston Villa,...,Match Report,NaN,9.0,3.0,21.6,0.0,0,0,2021,Norwich City
39,2022-05-08,14:00,Premier League,Matchweek 36,Sun,Home,L,0,4,West Ham,...,Match Report,NaN,8.0,2.0,22.2,1.0,0,0,2021,Norwich City
40,2022-05-11,19:45,Premier League,Matchweek 21,Wed,Away,L,0,3,Leicester City,...,Match Report,NaN,9.0,5.0,17.0,0.0,0,0,2021,Norwich City
41,2022-05-15,14:00,Premier League,Matchweek 37,Sun,Away,D,1,1,Wolves,...,Match Report,NaN,11.0,2.0,14.4,0.0,0,0,2021,Norwich City
42,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,L,0,5,Tottenham,...,Match Report,NaN,9.0,0.0,18.6,0.0,0,0,2021,Norwich City